<h1>Stupid coaching</h1>

<h4>Ask your coach anything:</h4>

  <form action="/answer">
    <div><input type="text" name="question" placeholder="Your question""></div>
    <input type="submit" value="Ask!" class="button">
  </form>

